<%= image_tag 'lunch.jpg' %>

<p>&nbsp;</p>

<footer>
  <div class="pull-right">
    follow lunchzilla on
    <%= link_to 'github', 'https://github.com/filiptepper/lunchzilla' %>
  </div>
</footer>
</div>
